<!DOCTYPE html>
<!-- [START_EXCLUDE] -->
<!--
  ~ Copyright 2018 Google Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you
  ~ may not use this file except in compliance with the License. You may
  ~ obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~ implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->
<!-- [END_EXCLUDE] -->

<html>
<head>
    <%- include("header.ejs"); %>

    <title>2FA RBM Demo</title>

    <script type="text/javascript">
        // regex for testing phone number format
        var regex = /^\+(?:[0-9] ?){6,14}[0-9]$/;

        $(document).ready(function() {
            $(document).on("click", ".register-link", function(e){
                e.preventDefault();

                showTestRegistration();
            });

            $("#submit-registration-btn").click(function(e) {
                e.preventDefault();

                submitRegistration();
            });

            $("#login-btn").click(function(e) {
                e.preventDefault();

                startConversation();
            });

            // start conversation form submission
            $(document).on("submit", "#login-form", function(event){
                event.preventDefault();

                removeErrors();

                var email = $("#email").val();
                var password = $("#password").val();

                if ($.trim(email) == "") {
                    event.stopPropagation();

                    showInputError("#email", "Sorry, but you must provide a " +
                        "registered email address.");
                }
                else if ($.trim(password) == "") {
                    event.stopPropagation();

                    showInputError("#password", "Sorry, but you must provide a " +
                        "password.");
                }
                else {
                    showWaiting("Logging in...", "#login-btn");

                    $.ajax({
                        url:"/login",
                        method:"POST", 
                        data: {
                            email: email, 
                            password: password
                        },
                        success: function(response) {
                            resetButton("#login-btn");

                            if(response.result == "ok") {
                              window.location.href = "/confirm?email="+email;
                            }
                            else if(response.message != undefined) {
                                showErrorMessage(response.message,
                                    "#fail-msg", "#success-msg");
                            }
                            else {
                               showErrorMessage("<p>Sorry, but we could not find your account. " +
                                   "Make sure that you have registered your email address " +
                                   "prior to initiating the login.</p>" +
                                   "<p class=\"text-center\"><a href=\"#\" " +
                                   "class=\"btn btn-outline-secondary register-link\">Create Account Now</a></p>",
                                   "#fail-msg", "#success-msg");
                            }
                        },
                        error: function() {
                            howErrorMessage("Sorry, but there was an error.",
                                "#fail-msg", "#success-msg");
                        }
                    });
                }
            });

            // register the test device form submission
            $(document).on("submit", "#register-form", function(event){
                event.preventDefault();

                removeErrors();

                $("#success-register-msg").hide();
                $("#fail-register-msg").hide();

                var phoneNumber = $("#registration-number").val();
                var email = $("#email-address").val();
                var password = $("#registration-password").val();

                if ($.trim(phoneNumber) == "") {
                    showInputError("#registration-number", "Sorry, but you must provide a " +
                            "phone number to an RCS-enabled device.");
                }
                else if ($.trim(email) == "") {
                    showInputError("#email-address", "Sorry, but you must provide an " +
                            "email address.");
                }
                else if ($.trim(password) == "") {
                    showInputError("#registration-password", "Sorry, but you must provide a " +
                            "password.");
                }
                else if (!regex.test(phoneNumber)) {
                    showInputError("#registration-number", "Sorry, but you must enter your " +
                        "phone number in the format of +12223334444.");
                }
                else {
                    showWaiting("Registering...", "#submit-registration-btn");
                    
                    $.ajax({
                        url:"/register",
                        method:"POST", 
                        data: {
                            email: email, 
                            phoneNumber: phoneNumber, 
                            password: password
                        },
                        success: function(response) {
                            resetButton("#submit-registration-btn");

                            if(response.result == "ok") {
                                $("#registration-form-container").hide();
                                $("#success-register-msg").show();

                                $("#email").val("");
                                $("#fail-msg").hide();

                                $("#registration-number").val("")
                            }
                            else {
                                showErrorMessage(response.message,
                                    "#fail-register-msg", "#success-register-msg");
                            }
                        },
                        error: function() {
                            howErrorMessage("Sorry, but there was an error.",
                                "#fail-register-msg", "#success-register-msg");
                        }
                    });
                }
            });
        });

        function showWaiting(waitingText, button) {
            var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> ' + waitingText;
            if ($(button).html() !== loadingText) {
                $(button).data("original-text", $(button).html());
                $(button).html(loadingText);
            }
        }

        function resetButton(button) {
            $(button).html($(button).data("original-text"));
        }

        function showTestRegistration() {
            removeErrors();

            $("#registration-number").val($("#phone-number").val());

            $("#registration-form-container").show();
            $("#success-register-msg").hide();
            $("#fail-register-msg").hide();
            $("#register-dialog").modal();
        }

        function startConversation() {
            $("#success-msg").hide();
            $("#fail-msg").hide();

            $("#login-form").submit();
        }

        function submitRegistration() {
            $("#success-register-msg").hide();
            $("#fail-register-msg").hide();

            $("#register-form").submit();
        }

        function removeErrors() {
            $("input").removeClass("is-invalid");
        }

        function showInputError(inputId, message) {
            $(inputId).addClass("is-invalid");
            $(inputId).parent().find(".invalid-feedback").html(message);
        }

        function showErrorMessage(message, failId, successId) {
            $(failId).html(message);
            $(failId).show();
            $(successId).hide();
        }
    </script>
</head>
<body>
    <div class="container" style="padding-top: 20px;">
        <div class="text-center center-block"><img src="/images/2fa-logo.svg" /></div>

        <h1 class="text-center">2FA Demo</h1>

        <div class="row">
            <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
                <% if(message) { %>
                  <div class="alert alert-danger text-center" role="alert">
                      <%= message %>
                  </div>
                <% } %>

                <form method="get" action="/startConversation" id="login-form">
                    <h4 class="text-center">Enter your login credentials:</h4>
                    <input class="form-control" id="email" required autofocus
                            type="text" name="email" placeholder="email@example.com" value="" />

                    <input style="margin-top: 10px;" class="form-control" id="password" required autofocus
                            type="password" placeholder="Password" name="password" value="" />

                    <div class="invalid-feedback"></div>
                    <a
                        id="login-btn"
                        class="btn btn-lg btn-primary btn-block" href="#">Login</a>
                </form>

                <div class="alert alert-danger text-center" style="display: none;" id="fail-msg" role="alert">
                    Sorry, but we could not locate your account. Make sure that you have
                    <a href="#" class="register-link">registered</a> prior to initiating the login.
                </div>

                <div class="alert alert-success text-center" style="display: none;" id="success-msg" role="alert">
                    Please confirm your login with your phone.
                </div>

                <p class="text-center"><a href="#" class="register-link">Need an account?</a></p>
            </div>

            <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 what-is-this">
                <h2 class="text-center d-none d-sm-block">What is the 2FA Demo?</h2>
                    <p>
                      Two Factor Authentication or 2FA is an extra layer of security 
                      that requires not only a login and password but also something
                      that only the real user would also have access to like a cell
                      phone.
                    </p>

                    <p>Much of A2P SMS traffic today is for 2FA authentication codes.</p>

                    <p>
                      This demo shows how to create an enriched 2FA experience for
                      your users using RCS.</p>

        
                    <hr />

                    <p>
                        You can learn more about
                        <a href="https://jibe.google.com/business-messaging/"
                        target="_blank">RCS business messaging here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="register-dialog" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="registration-form-container">
                        <h3 class="text-center" style="margin-top: 20px; font-size: 18px;">Create a Login</h3>

                        <div class="row">
                            <div class="col-sm-8 offset-sm-2">
                                <form method="get" id="register-form" action="/register">
                                    <p style="margin-bottom: 0px;">Email address:</p>
                                    <input class="form-control required" type="text" id="email-address"
                                        required autofocus name="email" placeholder="email@example.com" value="" />

                                    <p style="margin-bottom: 0px; margin-top: 10px;">Phone number:</p>
                                    <input class="form-control" type="text" id="registration-number"
                                        required autofocus name="phone_number" placeholder="+12223334444" value="" />

                                    <p style="margin-bottom: 0px; margin-top: 10px;">Password:</p>
                                    <input class="form-control" type="password" id="registration-password"
                                        required autofocus name="password" placeholder="Password" value="" />

                                    <div class="invalid-feedback"></div>
                                    <button id="submit-registration-btn" class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
                                </form>
                            </div>

                            <div class="col-sm-12">
                                <hr />

                                <p class="text-center registration-explanation">
                                    After registering, you will receive a text message asking if you
                                    would like to become a tester.
                                    Select "Make me a tester" and then click the "Login"
                                    button to experience the 2FA RBM demo.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-danger text-center" id="fail-register-msg" role="alert">
                        Sorry, but an error occurred while creating your account.
                    </div>

                    <div class="alert alert-success" id="success-register-msg" role="alert">
                        Thank you, your phone should receive an invite to join as a tester shortly.
                        Once you accept, use the main form to login and experience 2FA with RCS.
                    </div>

                    <div class="center-block text-center close-link">
                        <a href="#" data-dismiss="modal">[CLOSE]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
