<!DOCTYPE html>
<!-- [START_EXCLUDE] -->
<!--
  ~ Copyright 2018 Google Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you
  ~ may not use this file except in compliance with the License. You may
  ~ obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~ implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->
<!-- [END_EXCLUDE] -->

<html>
<head>
    <%- include("header.ejs"); %>

    <title><%= title %></title>

    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(checkLoginStatus, 1000); 
        });

        function checkLoginStatus() {
            $.getJSON("/checkLogin?email=<%= email %>", function(response) {
                 if(response.result == "ok") {
                    window.location.href = "/success";
                 }
                 else if(response.result == "fail") {
                    var message = encodeURIComponent("Sorry, but this login was reported as fraudalent.");
                    window.location.href = "/?message=" + message;
                 }
            });
        }
    </script>
</head>
<body style="background: #fff;">
    <div class="container" style="padding-top: 20px;">
        <h1 class="text-center">Waiting for login confirmation...</h1>

        <div class="row" style="margin-top: 30px;">
            <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
                <div class="text-center"><img src="/images/waiting.gif" /></div>

                <div class="text-center" style="margin-top: 30px;">
                    <p style="font-size: 18px;">Please check your phone to confirm your login.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
