html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  /*-ms-flex-align: center;
  align-items: center;*/
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

a { color: rgb(155, 0, 27); }

input[type=text] { width: 100%; font-size: 16px; line-height: 20px; height: 36px; padding: 8px!important; }

.btn { text-transform: uppercase; margin: 0px; }

.btn { display:inline-block;position:relative;cursor:pointer;min-height:36px;min-width:88px;line-height:36px;vertical-align:middle;
-webkit-box-align:center;-webkit-align-items:center;-webkit-align-items:center;align-items:center;text-align:center;-webkit-border-radius:2px;
border-radius:2px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-webkit-user-select:none;outline:none;
border:0;background:transparent;color:currentColor;white-space:nowrap;text-transform:uppercase;font-weight:500;font-size:14px;font-style:inherit;font-variant:inherit;font-family:inherit;text-decoration:none;overflow:hidden;-webkit-transition:box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);-webkit-transition:box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);transition:box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1); padding-left: 16px; padding-right: 16px;  }

.btn-outline-secondary { background-color: #fff; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26); padding-left: 16px; padding-right: 16px; color: #4285f4!important; }
.btn-outline-secondary:hover { background-color: #e9f0fe; }

.btn-primary { background-color: rgb(201, 0, 36); color: rgba(255,255,255,0.87); }
.btn-primary:hover { background-color: rgb(155, 0, 27); }

.btn-default { color: rgba(0,0,0,0.54); }
.btn-default:hover { background-color: rgba(0,0,0,0.12); color: #000; }

.btn:disabled,
.btn[disabled] { background-color: rgba(0,0,0,0.12); color: rgba(0,0,0,0.38)!important; }

.alert-success { background-color: #eee; color: #333; }

/** [START of about this demo styles */
.what-is-this { margin-top: 40px; }
.business-phone-container { position: relative; }
.business-phone { display: block; max-height: 614px; width: 100%; margin: 0 auto; }
.phone-screen { height: 75.76%; position: absolute; top: 11.25%; left: 0; right: -1.25%; margin: 0 auto; width: 72.15%; }
.phone-screen video { width: 100%; }
/** [END of about this demo styles */

/** [START of start conversation form styles */
#conversation-form { max-width: 330px; margin: 30px auto; }
#conversation-form input[type=text] { margin-top: 20px; }
#conversation-form .btn { margin-top: 20px; }
/** [END of start conversation form styles */

/** [START of registration dialog styles */
#register-dialog #register-form .btn { margin-top: 10px; padding:0 6px; }
#register-dialog p.registration-explanation { margin-top: 0px; font-size: 0.9rem }

#register-dialog .alert { display: none; margin-top: 20px; }
#register-dialog .close-link { margin-top: 40px; }
#register-dialog .close-link a { color: #333; }
/** [END of registration dialog styles */